# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/land_registry

# JWT
JWT_SECRET=mylandreg2025harshaldamasecretkey9876543210abcdef

# KYC hashing salt (for Aadhaar/PAN hashing)
KYC_HASH_SALT=mssgkm2025kycsalt$harshal

# Blockchain
LOCAL_RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS_LOCAL=

# For Sepolia
# SEPOLIA_RPC_URL=https://rpc.sepolia.org
# CONTRACT_ADDRESS_SEPOLIA=

# Pinata IPFS (free online IPFS storage — no local node needed)
# Sign up free at: https://app.pinata.cloud/register
# Then: API Keys → New Key → copy API Key and Secret
PINATA_API_KEY=5573df76d0e7d2067870
PINATA_SECRET_API_KEY=2a604aaae03511e91ebb0dfa9bea8bd7b88ac49d16145845ab5b48a164c7deca
IPFS_GATEWAY_URL=https://gateway.pinata.cloud

# Frontend (for CORS)
FRONTEND_URL=http://localhost:3000
